#Backend Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager-backend
  labels:
    app: task-manager-backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: task-manager-backend
  template:
    metadata:
      labels:
        app: task-manager-backend
    spec:
      containers:
      - name: task-manager-backend
        image: mahmoud8824/nodejs-fullstack-backend:latest
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        env:
        - name: MONGO_URI
          valueFrom:
            secretKeyRef:
              name: task-manager-mongo-secret
              key: MONGO_URI
        - name: PORT
          value: "5000"
        - name: NODE_ENV
          value: "production"
        ports:
        - containerPort: 5000
---
#Frontend Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager-frontend
  labels:
    app: task-manager-frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: task-manager-frontend
  template:
    metadata:
      labels:
        app: task-manager-frontend
    spec:
      containers:
      - name: task-manager-frontend
        image: mahmoud8824/nodejs-fullstack-frontend:latest
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        ports:
        - containerPort: 80
