apiVersion: v1
kind: Service
metadata:
  name: task-manager-backend
spec:
  type: NodePort
  selector:
    app: task-manager-backend
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
      nodePort: 30500
---
apiVersion: v1
kind: Service
metadata:
  name: task-manager-frontend
spec:
  selector:
    app: task-manager-frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer